# Terminus Billing System Configuration File
# Copyright: Copyright (c) 2006
# Company: Comcerto (pvt) Ltd.
# @author Muhammad Naveed Alyas
# @version 1.0


##### Database Settings ########

DB_ID=2
#DB_URL=jdbc:microsoft:sqlserver://127.0.0.1:1433;databasename=terminus
#DB_URL=jdbc:microsoft:sqlserver://root:1433;databasename=terminus
#DB_URL=jdbc:oracle:thin:@175.107.192.98:1521:xe

#DB_URL=jdbc:oracle:thin:@192.168.1.10:1533:xe
#DB_Login=optixbill
#DB_Passwd=optixbill

#Local
#DB_URL=jdbc:oracle:thin:@127.0.0.1:1521:xe
#DB_Login=optixbill
#DB_Passwd=optixbill

#Optix Live
#DB_URL=jdbc:oracle:thin:@202.142.162.196:1521:optxdb
#DB_Login=optixbill
#DB_Passwd=optixbill

#Cybernet Live
DB_URL=jdbc:oracle:thin:@192.168.1.10:1533:termdb
DB_Login=terminusbill
DB_Passwd=terminusbill

#Cybernet Testing
#DB_URL=jdbc:oracle:thin:@175.107.192.98:1521:termdb
#DB_Login=terminusbill
#DB_Passwd=terminusbill



##### Email Manager Settings ########

EMAIL_SERVER=mail.terminusbilling.com
#Server_User_Name=sami.cheema@terminusbilling.com
#Server_Password=terminus2010
#EMAIL_SERVER=SMTP.CYBER.NET.PK
ROUNDS=1
ROUND_INTERVAL=1